<h1>Gilded Rose Inventory</h1>

<table>
	<tr>
		<th>Item</th>
		<th>Sell-In</th>
		<th>Quality</th>
	</tr>
	<% if (@items) %>
		<% @items.each do |item| %>
			<tr>
				<td><%= item.name %></td>
				<td><%= item.sellin %></td>
				<td><%= item.quality %></td>
			</tr>
		<%end%>
	<% end %>

</table>
<br>
<%= button_to "Update", group_update_items_path, :method => :post %>
<%= button_to "Reload the Table with Fresh Values", group_regenerate_items_path, :method => :post %>


